<plist version="1.0">
    <dict>
        <key>items</key>
        <array>
            <dict>
                <key>assets</key>
                <array>
                    <dict>
                        <key>kind</key>
                        <string>software-package</string>
                        <key>url</key>
                        <string>
                            https://www.yun-bangshou.com/balaApp/balamoney.ipa
                        </string>
                    </dict>
                    <dict>
                        <key>kind</key>
                        <string>display-image</string>
                        <key>needs-shine</key>
                        <true/>
                        <key>url</key>
                        <string>
                            https://www.yun-bangshou.com/balaApp/57x57.png
                        </string>
                    </dict>
                </array>
                <key>metadata</key>
                <dict>
                    <key>bundle-identifier</key>
                    <string>com.ybs.ASOProj</string>
                    <key>bundle-version</key>
                    <string>1.0</string>
                    <key>kind</key>
                    <string>software</string>
                    <key>subtitle</key>
                    <string>App Subtitle</string>
                    <key>title</key>
                    <string>Bala快赚</string>
                </dict>
            </dict>
        </array>
    </dict>
</plist>
